<%- include('../partials/head.ejs') %>

  <main class="__register container-fluid">

    <h1>Nieuw account aanmaken</h1>
    <p class="__infoText">Je kunt alleen een account aanmaken met je HvA e-mailadres</p>

    <% if(error != false) { %>
      <div class="alert alert-danger __errorMessage" role="alert">
        <strong>Aanmelding mislukt!</strong> Het opgegeven e-mailadres is al geregistreerd.
      </div>
    <% } %>

    <form class="__accountForm" method="post">
      <div class="form-group">
        <label for="firstname">Voornaam<span class="__manditory">*</span></label>
        <input type="text" class="form-control" name="firstname" aria-describedby="Voornaam" placeholder="Voornaam" required>
      </div>
      <div class="form-group">
        <label for="lastname">Achternaam<span class="__manditory">*</span></label>
        <input type="text" class="form-control" name="lastname" aria-describedby="Achternaam" placeholder="Achternaam" required>
      </div>
      <div class="form-group">
        <label for="mail">E-mailadres<span class="__manditory">*</span></label>
        <input type="email" class="form-control" name="mail" aria-describedby="E-mailadres" placeholder="Voer HvA mail in" required>
      </div>
      <div class="form-group">
        <label for="password">Wachtwoord<span class="__manditory">*</span></label>
        <input type="password" class="form-control" name="password" placeholder="Wachtwoord" required>
      </div>
      <button type="submit" class="btn btn-primary">Aanmelden</button>
    </form>

  </main>

<%- include('../partials/foot.ejs') %>
