  <footer class="__foot">
    <% if(user != false) { %>
      <div class="container-fluid m-t-5">
        <a href="/account/logout" class="__button btn btn-danger">Uitloggen</a>
      </div>
    <% } %>
  </footer>

  <script src="../../../js/jquery-3.2.1.min.js"></script>
  <script src="../../../js/bootstrap.min.js"></script>
  <script src="../../../js/script.js"></script>

  </body>
</html>
