<%- include('../partials/head.ejs') %>

  <main class="__dashboard container-fluid">

    <h1>Hi <%=user.firstname%></h1>

    <% if(user.template == false) { %>
      <p>Je hebt nog geen template gekozen</p>
      <a href="/dashboard/template" class="__button btn btn-primary">Kies een template</a>
    <% } else if(user.template == true) { %>
      <p>Je hebt al een template gekozen</p>
    <% } %>



    <a href="/account/logout" class="__button btn btn-danger">Uitloggen</a>

  </main>

<%- include('../partials/foot.ejs') %>
