<%- include('../partials/head.ejs') %>

  <main class="__dashboard container-fluid">

    <h1>Hi <%=user.firstname%></h1>

    <% if(user.template == false) { %>
      <p>Je hebt nog geen template gekozen</p>
      <a href="/dashboard/template" class="__button btn btn-primary">Kies een template</a>
    <% } else if(user.template == true && user.information == false) { %>
      <p>Je hebt al een template gekozen, <a href="/dashboard/template">klik hier om deze te wijzigen</a>.</p>
      <h2>Informatie invullen</h2>
      <p>Bij de volgende stap ga je de informatie voor je portfolio invullen.</p>
      <a href="/dashboard/information" class="__button btn btn-primary">Informatie invullen</a>
    <% } else if(user.template == true && user.information == true) { %>
      <p>Je hebt al een template gekozen, <a href="/dashboard/template">klik hier om deze te wijzigen</a>.</p>
      <p>Je hebt alle informatie al ingevuld, <a href="/dashboard/information">klik hier om deze te wijzigen</a>.</p>
      <h2>Projecten</h2>
      <p>Bij de volgende stap ga je jouw projecten toevoegen</p>
      <a href="/dashboard/projects/overview" class="__button btn btn-primary">Projecten toevoegen</a>
    <% } %>

    <% if(user.template == true && user.information == true) { %>
      <h2>Preview</h2>
      <p>Benieuwd hoe je portfolio er tot nu toe uit ziet? Bekijk hier de preview!</p>
      <a href="/dashboard/preview/1" class="__button btn btn-primary">Preview</a>
    <% } %>
  </main>

<%- include('../partials/foot.ejs') %>
