<%- include('../partials/head.ejs') %>

  <main class="__dashboard container-fluid">

    <h1>Hi <%=user.firstname%></h1>

    <% if(user.template == false) { %>
      <h2>Stap 1: Template kiezen</h2>
      <p>Op dit moment zijn er twee standaard templates waar je uit kunt kiezen.</p>
      <p>In de stappen na het kiezen ga je aan de slag met het invullen van de template met al jouw projecten en gegevens.</p>
      <p>Probeer uiteindelijk ook nog wat eigen JavaScript en CSS toe te voegen om het geheel persoonlijker te maken!</p>

      <div class="row">
        <div class="col-sm-3 __template_1_preview">
          <img src="../images/template1.png" class="img-fluid mbtm" />
          <a href="/templates/1" target="_blank" class="__button btn btn-primary">Preview</a>
          <a href="/portfolio/template/set/1" class="__button btn btn-primary">Kies deze template</a>
        </div>
      </div>
    <% } %>

    <a href="/account/logout" class="__button btn btn-danger">Uitloggen</a>

  </main>

<%- include('../partials/foot.ejs') %>
