/* MAIN SCSS FILE, LOAD ALL NEEDED FILES FOR COMPILING
----------------------------------------- */
body {
  font-family: 'Open Sans', sans-serif; }

.__login .__errorMessage {
  max-width: 40em; }

.__register .__errorMessage {
  max-width: 40em; }

.__accountForm {
  max-width: 22.5em; }
  .__accountForm .__manditory {
    color: #e74c3c; }
