/* MAIN SCSS FILE, LOAD ALL NEEDED FILES FOR COMPILING
----------------------------------------- */
body {
  background-color: #e7e7e7;
  font-family: 'Open Sans', sans-serif; }

.mbtm {
  margin-bottom: 1em; }

.__login .__errorMessage {
  max-width: 40em; }

.__register .__errorMessage {
  max-width: 40em; }

.__dashboard .__template_1_preview {
  margin-bottom: 5em;
  text-align: center; }

.__dashboard form {
  width: 30em;
  margin: 2em 0; }

.__foot {
  margin-top: 3.5em; }

.__accountForm {
  max-width: 22.5em; }
  .__accountForm .__manditory {
    color: #e74c3c; }

.__dashboard label {
  font-weight: 700; }

.__dashboard .subtext {
  font-size: .85em;
  color: grey; }

.__dashboard p {
  margin-bottom: .55em; }

.__dashboard h2 {
  font-size: 1.7em;
  font-weight: 700;
  margin: 1em 0 .75em;
  color: #4a4a4a; }
