.__homepage {
  .__left {
    position: relative;
    padding: 0;
    background-color: $color-orange;
    height: 100vh;
    .__title_holder {
      position: absolute;
      text-align: left;
      top: 50%;
      left: 35%;
      transform: translate(-35%, -50%);
      h1 {
        display: inline-grid;
        padding: .25em;
        color: white;
        background-color: black;
        font-family: 'Open Sans', sans-serif;
        font-size: 2.35em;
        font-weight: 700;
        text-transform: uppercase;
      }
    }
  }
  .__right {
    position: relative;
    padding: 0;
    background-color: $color-grey;
    // height: 100vh;
    .__form_wrapper {
      position: absolute;
      top: 50%;
      left: 40%;
      transform: translate(-35%, -50%);
      h2 {
        font-size: 1.55em;
        font-family: 'Open Sans', sans-serif;
        font-weight: 700;
        color: black;
      }
    }
  }
}

.__login {
  .__errorMessage {
    max-width: 40em;
  }
}

.__register {
  .__errorMessage {
    max-width: 40em;
  }
}

.__dashboard {
  .__template_1_preview {
    margin-bottom: 5em;
    text-align: center;
  }
  form {
    width: 30em;
    margin: 2em 0;
  }
}

.__foot {
  margin-top: 3.5em;
}

.__project_card {
  max-width: 33%;
  img {
    max-width: 100%;
  }
}
