.__homepage {

}

.__login {
  .__errorMessage {
    max-width: 40em;
  }
}

.__register {
  .__errorMessage {
    max-width: 40em;
  }
}

.__dashboard {
  .__template_1_preview {
    margin-bottom: 5em;
    text-align: center;
  }
  form {
    width: 30em;
    margin: 2em 0;
  }
}

.__foot {
  margin-top: 3.5em;
}
