<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CMD Portfolio</title>

  <link type="text/css" rel="stylesheet" href="/templates/2/assets/css/bootstrap.min.css" />
  <link type="text/css" rel="stylesheet" href="/templates/2/assets/css/style.css" />

</head>
<body>

  <header>
    <div class="container-fluid">
      <section class="header">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h1 class="cmd-orange">Hi.</h1>
            <h1>I am Camille Sébastien Niessen.</h1>
          </div>
          <div class="col-sm-12 col-md-6 center">
            <img src="/templates/2/assets/images/camille.jpg" class="photo"/>
          </div>
        </div>
      </section>
    </div>
  </header>

  <main>
    <div class="container-fluid projects-container">
        <section class="projects">
          <!-- <h1>Projects</h1> -->
          <div class="row">
            <div class="col-sm-4 col-md-3 marginless">
              <img src="/templates/2/assets/images/cmd-tool.jpg" />
            </div>
            <div class="col-sm-4 col-md-3 marginless">
              <img src="/templates/2/assets/images/marvel-app.jpg" />
            </div>
            <div class="col-sm-4 col-md-3 marginless">
              <img src="/templates/2/assets/images/infomotion.jpg" />
            </div>
            <div class="col-sm-4 col-md-3 marginless">
              <img src="/templates/2/assets/images/playwall.jpg" />
            </div>
            <div class="col-sm-4 col-md-3 marginless">
              <img src="/templates/2/assets/images/placeholder-grijs.png" />
            </div>
            <div class="col-sm-4 col-md-3 marginless">
              <img src="/templates/2/assets/images/placeholder-groen.png" />
            </div>
            <div class="col-sm-4 col-md-3 marginless">
              <img src="/templates/2/assets/images/placeholder-blauw.png" />
            </div>
            <div class="col-sm-4 col-md-3 marginless">
              <img src="/templates/2/assets/images/placeholder-rood.png" />
            </div>
          </div>
        </section>
      </div>
      <div class="container-fluid about-container">
        <section class="about">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h1>About</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
            <div class="col-sm-12 col-md-6">
              <h1>Education</h1>
              <ul>
                <li>First item</li>
                <li>Second item</li>
                <li>Third item</li>
                <li>Last item</li>
              </ul>
            </div>
          </div>
          <div class="row skills">
            <!-- <div class="item col-xl-12 intro">
              <h1>Skills</h1>
            </div> -->
            <div class="item col-xs-12 col-sm-6 col-md-3">
              <img src="/templates/2/assets/images/icons/javascript.png" />
              <h2>JavaScript</h2>
              <p>Si verbum sequimur, primum longius verbum praepositum quam bonum. An dubium est, quin virtus ita maximam.</p>
            </div>
            <div class="item col-xs-12 col-sm-6 col-md-3">
              <img src="/templates/2/assets/images/icons/node-js.svg" />
              <h2>Node.JS</h2>
              <p>Partem optineat in rebus humanis, ut reliquas obruat? Venit enim mihi Platonis in mentem, accepimus primum.</p>
            </div>
            <div class="item col-xs-12 col-sm-6 col-md-3">
              <img src="/templates/2/assets/images/icons/git.svg" />
              <h2>Git</h2>
              <p>Si verbum sequimur, primum longius verbum praepositum quam bonum. An dubium est, quin virtus ita maximam.</p>
            </div>
            <div class="item col-xs-12 col-sm-6 col-md-3">
              <img src="/templates/2/assets/images/icons/photoshop.svg" />
              <h2>Photoshop</h2>
              <p>Si verbum sequimur, primum longius verbum praepositum quam bonum. An dubium est, quin virtus ita maximam.</p>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <h1>Work Experience</h1>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </section>
    </div>
  </main>

  <footer>
    <div class="container-fluid">
      <p class="copyright">&copy; Camille Sébastien Niessen - <span id="copyYear"></span></p>
    </div>
  </footer>

  <script type="text/javascript" rel="javascript" src="/templates/2/assets/js/vendor/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" rel="javascript" src="/templates/2/assets/js/vendor/bootstrap.min.js"></script>
  <script type="text/javascript" rel="javascript" src="/templates/2/assets/js/script.js"></script>

</body>
</html>
